* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(221, 221, 221);
  display: grid;
}

.main-container {
  background-color: white;
  padding: 30px;
  text-align: center;
  width: 500px;
  margin: 25vh auto;
}

.main-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin: 10px 0;
}

.main-container p {
  margin: 10px 0;
  font-size: 24px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.buttons-container button {
  font-size: 20px;
  background-color: #ffa600;
  color: white;
  border: none;
  padding: 10px 36px;
  cursor: pointer;
}
